.wrapper {
  font-family: 'Roboto', sans-serif;
  background: url('../img/background.png') no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

/* HEADER */

.header {
  padding: 50px 0 22px;
}

.header__info {
  display: flex;
  justify-content: space-between;
  height: 61px;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  transition: 0.4s ease;
}

.header__logo:hover {
  color: #f26522;
}

.header__logo-svg {
  width: 57px;
  height: 55px;
  fill: currentColor;
  padding-bottom: 5px;
}

.header__logo-text {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 700;
  gap: 3px;
}

.header__logo-h1 {
  font-size: 29px;
}

.header__logo-p {
  font-size: 18px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 18px;
}

.header__contacts-email,
.header__contacts-phone {
  transition: 0.4s ease;
}

.header__contacts-email:hover,
.header__contacts-phone:hover {
  color: #f26522;
}

/* MAIN */

.main {
  padding: 0 0 50px;
  flex: 1 1 auto;
}

.tours {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 65px;
  row-gap: 37px;
  font-size: 18px;
}

.tours__item {
  text-align: center;
}

.item__img-block {
  height: 220px;
  position: relative;
  overflow: hidden;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background: linear-gradient(#fff, rgb(48, 48, 48));
}

.item__img {
  width: 100%;
  height: 100%;
}

.item__outer-popup {
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: -55px;
  background-color: #f26522;
}

.item__inner-popup {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 25px 37px 10px 14px;
  position: relative;
}

.item__price-value {
  font-size: 20px;
  display: inline;
}

.item__price-value::before {
  content: 'from';
  position: absolute;
  font-size: 10px;
  top: 7px;
}

.item__price-details {
  font-size: 14px;
}

.item__price-details::after {
  content: url(../img/main-img/arrow-right.svg);
  position: absolute;
  right: 16px;
  bottom: 9px;
}

.tours-text {
  margin-top: 20px;
  display: inline-block;
}

.tours__item:hover .tours-text {
  color: #f26522;
  transition: color 0.5s ease;
}

.tours__item:hover .item__outer-popup {
  bottom: 0;
  transition: bottom 1s ease;
}

/* FOOTER */

footer {
  color: #fff;
  text-align: center;
  padding: 0 0 15px;
  font-size: 12px;
}
